.img1,.img2,.img3 {
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .img1 {
    background-image: url("./img/Image1.jpg");
    min-height: 100%;
    }
  
  .img2 {
    background-image: url("./img/Image2.jpg");
    min-height: 400px;
  }
  
  .img3 {
    background-image: url("./img/Image3.jpg");
    min-height: 400px;
  }